body{
    background-image: url(/Bilder/Landscape.jpg);
    text-align: center;
    
    
}
.Inlogg{
    
    color: rgb(173, 10, 10);
    text-align: center;
}
.Logga{
    color: greenyellow;
}


    
