
body.startsidan{
    background-image: url(/Bilder/Landscape.jpg);
    text-align: center;
    
    
}
.Inlogg{
    
    color: rgb(173, 10, 10);
    text-align: center;
}
.LogKnapp{
    color: greenyellow;
}

body.regsidan{
    background-image: url(/Bilder/StockSnap_TAM2OYHWFJ.jpg);
}
.regga{

}
.RegKnapp{

}


    
