body{
    background-color: lightcoral;
}
#E-Mail{
    background-color: black;
    color: firebrick;
}
#Förnamn{
    background-color: black;
    color: firebrick;
}
#Formulär{
    background-color: black;
    color: firebrick;
}
#Knapp1{
    background-color: black;
    color: firebrick;
}
    
